<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Snake And Ladders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>

<h1 class="title">Snakes And Ladders</h1>

<!--Pocet harcov-->

<!--<div th:if="${@sandLController.logged}">-->
<!--    <div th:if="${check} == true" >Number of players: <span th:text="${@sandLController.countOfPlayers}"/>.</div>-->
<!--    <div th:if="${check} == false">-->
<!--        Bad input!Try again!-->
<!--    </div>-->

<!--</div>-->

<!--<div>-->

<!--    <div th:if="${not @sandLController.logged} OR ${check}==false">-->
<!--        <form method="get" action="/snakeAndladders/player">-->
<!--            Plese enter number of players: <input name="player" type="text"/>-->
<!--            <input type="submit" value="Enter">-->
<!--        </form>-->
<!--    </div>-->
<!--initializacia hracov-->

<!--    <div th:if="${@sandLController.loggedUser} == true">-->
<!--        <form method="get" action="/snakeAndladders/init">-->
<!--            Enter your name: <input name="login" type="text"/>-->
<!--            <input type="submit" value="Login">-->
<!--        </form>-->
<!--    </div>-->


<!--    <div th:if="${user} == false" >-->
<!--        Welcome!<span th:text="${newUser}"/>-->
<!--        Please roll the dice to start the game!\n-->
<!--    </div>-->



<div th:if="${@sandLController.logged}">
    You are logged as <span th:text="${@sandLController.loggedUser}"/>.
    <a href="/snakeAndladders/logout">Logout</a>

    <div class="roll">
    <form method="get" action="/snakeAndladders/dice">
        <button type="submit" value="Roll">Roll</button>
    </form>
</div>

    <div th:if="${@sandLController.click}">
        Your number: <span th:text="${@sandLController.k}"/>.
        <span th:text="${@sandLController.pos}"/>.

    </div>
</div>

<div th:if="${not @sandLController.logged}">
    <form method="get" action="/snakeAndladders/login">
        Login: <input name="login" type="text"/>
        <input type="submit" value="Login">
    </form>
</div>




<div th:if="${done}==true">
    <form method="get" action="/snakeAndladders/new">
        <input type="submit" value="New Game">
    </form>
</div>

<div th:unless="${@sandLController.click}">
    YOU ARE WINNER!!!
</div>








<div th:utext="${@sandLController.htmlField}"/>




<div class="score">
<h2>Scores</h2>
    <table class="scoreTable">
    <tr>
        <th>Player</th>
        <th>Points</th>
    </tr>
    <tr th:each="score : ${scores}">
        <td>  <span th:text="${score.player}"/></td>


        <td>  <span th:text="${score.points}"/></td>
    </tr>
    </table>
</div>

<div>
<h2>Comments</h2>
<table>
    <tr>
        <th>Player</th>
        <th>Comment</th>
    </tr>
    <tr th:each="comment : ${comments}">
        <td> <span th:text="${comment.player}"/></td>
        <td><span th:text="${comment.comment}"/></td>
    </tr>
</table>
</div>

<div>
    <h2>Average Rating</h2>

            <span th:text="${avrating}"/>
</div>

<div>
    <h2>Your Rating</h2>

    <span th:text="${ratingPlayer}"/>
</div>

<div>
    <h2>  Enter your opinion</h2>
  <form id="comment" method="get" action="/snakeAndladders">
    <textarea id ="text" name="text"  placeholder="My opinion..."></textarea>
            <button type="submit" value = "send">Enter</button>
            </form>
</div>

<div>
    <h2>  Enter your Rating</h2>
    <form id="rate" method="get" action="/snakeAndladders">
        <textarea id ="rating" name="rating"  placeholder="My mark..."></textarea>
        <button type="submit" value = "send">Enter</button>
    </form>
</div>
</body>
</html>
